<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="form" action="">
                <h2>ELIMINAR SERIE</h2><hr><br>
                <div class="form-group">
                    <label for="id">ID: </label>
                    <input [(ngModel)]="serie.id" name="id" type="text" class="form-controls" readonly>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input [(ngModel)]="serie.nombre" name="nombre" type="text" class="form-controls" readonly>
                </div>
                <div class="form-group">
                    <label for="apellido1">Sinopsis: </label>
                    <textarea [(ngModel)]="serie.sinopsis_serie" name="apellido1" type="text" class="form-controls" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="apellido2">Idioma: </label>
                    <input [(ngModel)]="serie.idioma" name="apellido2" type="text" class="form-controls" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Duración: </label>
                    <input [ngModel]="serie.duracion_media + ' min.'" name="text" type="text" class="form-controls" readonly>
                </div>
                <div class="form-group">
                    <label for="login">Fecha de inicio: </label>
                    <input [ngModel]="serie.fecha_inicio | date: 'dd/MM/yyyy'" name="login" type="text" class="form-controls" readonly>
                </div>
                <div class="form-group">
                    <label for="tipousuario.nombre">Fecha de fin: </label>
                    <input [ngModel]="serie.fecha_fin | date: 'dd/MM/yyyy'" name="tipousuario.nombre" type="text" class="form-controls" readonly>
                </div>
                <hr><br>
                <div class="botonera">
                    <h3>¿Seguro que desea eliminar este objeto? </h3>
                    <button class="btn btn-success" (click)="eliminar(serie)">SÍ</button>
                    <button class="btn btn-success" (click)="atras()">NO</button>
                </div>
            </form>
        </div>
    </div>
</div>
