
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <mat-paginator class="mb-3"
                        [length]="series.length"
                        [pageSize]="page_size"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="handlePage($event)"
                        showFirstLastButtons>
            </mat-paginator>
            <table class="table table-hover table-striped table-light">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>SINOPSIS</th>
                        <th>IDIOMA</th>
                        <th>GÉNERO</th>
                        <th>DURACIÓN</th>
                        <th>FECHA DE INICIO</th>
                        <th>FECHA DE FIN</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let serie of series | paginate:page_size:page_number">
                        <td class="text-center">{{serie.id}}</td>
                        <td class="text-center">{{serie.nombre}}</td>
                        <td style="width: 30%;">{{serie.sinopsis_serie}}</td>
                        <td class="text-center">{{serie.idioma}}</td>
                        <td class="text-center">{{serie.genero.nombre}}</td>
                        <td class="text-center">{{serie.duracion_media}} min.</td>
                        <td class="text-center">{{serie.fecha_inicio | date:'longDate'}}</td>
                        <td class="text-center">{{serie.fecha_fin | date:'longDate'}}</td>
                        <td class="text-center">
                            <button class="btn btn-success">
                                <span class="material-icons" (click)="verSerie(serie.id)" style="vertical-align: middle;">visibility</span>
                            </button>
                            <button class="btn btn-warning">
                                <span class="material-icons" (click)="editarSerie(serie.id)" style="cursor: pointer; vertical-align: middle;">mode_edit</span>
                            </button>
                            <button class="btn btn-danger">
                                <span class="material-icons" (click)="eliminarSerie(serie.id)" style="vertical-align: middle;">delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
