
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <mat-paginator class="mb-3"
                        [length]="listas.length"
                        [pageSize]="page_size"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="handlePage($event)"
                        showFirstLastButtons>
            </mat-paginator>
            <table class="table table-hover table-striped table-light">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>USUARIO</th>
                        <th>Nº SERIES</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lista of listas | paginate:page_size:page_number">
                        <td class="text-center">{{lista.id}}</td>
                        <td class="text-center">{{lista.nombre}}</td>
                        <td class="text-center">{{lista.usuario.login}}</td>
                        <td class="text-center">{{lista.contenidos}}</td>
                        <td class="text-center">
                            <button class="btn btn-success">
                                <span class="material-icons" (click)="ver(lista.id)" style="vertical-align: middle;">visibility</span>
                            </button>
                            <button class="btn btn-warning">
                                <span class="material-icons" (click)="editar(lista.id)" style="cursor: pointer; vertical-align: middle;">mode_edit</span>
                            </button>
                            <button class="btn btn-danger">
                                <span class="material-icons" (click)="eliminar(lista.id)" style="vertical-align: middle;">delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
