<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <form class="form" [formGroup]="formulario" (ngSubmit)="guardar()">
                <h2>AGREGAR SERIE</h2>
                <hr><br>
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input formControlName="nombre" name="nombre" type="text" class="form-controls" required>
                    <div class="alert" *ngIf="formulario.get('nombre').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('nombre').hasError('required') && formulario.get('nombre').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('nombre').hasError('minlength') && formulario.get('nombre').touched">
                            Este campo debe tener más de 3 caracteres
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('nombre').hasError('maxlength') && formulario.get('nombre').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sinopsis_serie">Sinopsis: </label>
                    <input formControlName="sinopsis_serie" name="sinopsis_serie" type="text" class="form-controls">
                    <div class="alert" *ngIf="formulario.get('sinopsis_serie').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('sinopsis_serie').hasError('required') && formulario.get('sinopsis_serie').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('sinopsis_serie').hasError('minlength') && formulario.get('sinopsis_serie').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('sinopsis_serie').hasError('maxlength') && formulario.get('sinopsis_serie').touched">
                            Este campo debe tener menos de 1000 caracteres
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="idioma">Idioma: </label>
                    <input formControlName="idioma" name="idioma" type="text" class="form-controls">
                    <div class="alert" *ngIf="formulario.get('idioma').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('idioma').hasError('required') && formulario.get('idioma').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('idioma').hasError('minlength') && formulario.get('idioma').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('idioma').hasError('maxlength') && formulario.get('idioma').touched">
                            Este campo debe tener menos de 20 caracteres
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="duracion_media">Duración media: </label>
                    <input formControlName="duracion_media" name="duracion_media" type="number" class="form-controls">
                    <div class="alert" *ngIf="formulario.get('duracion_media').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('duracion_media').hasError('required') && formulario.get('duracion_media').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('duracion_media').hasError('min') && formulario.get('duracion_media').touched">
                            El número introducido debe ser mayor de 0
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('duracion_media').hasError('max') && formulario.get('duracion_media').touched">
                            El número introducido debe ser menor de 360
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fecha_inicio">Fecha de inicio: </label>
                    <div style="display:inline; width:300px">
                        <input matInput [matDatepicker]="picker1" formControlName="fecha_inicio">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fecha_fin">Fecha de fin: </label>
                    <div style="display:inline; width:300px">
                        <input matInput [matDatepicker]="picker2" formControlName="fecha_fin">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <div formGroupName="genero">
                        <div class="form-group">
                            <label for="genero">Género: </label>
                            <select formControlName="id" class="form-control" name="id">
                                <option *ngFor="let genero of generos" [value]="genero.id">{{genero.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="alert" *ngIf="formulario.get('genero.id').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('genero.id').hasError('required') && formulario.get('genero.id').touched">
                            Este campo debe ser rellenado
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" (click)="atras()">Atrás</button>
                </div>
            </form>
        </div>
    </div>
</div>