    <div class="row">
        <div class="d-flex justify-content-between">
            <div id="divCard" class="d-flex flex-wrap justify-content-between">
                <div id="card" class="card bg-light card title d-flex flex-column my-2 mx-4" *ngFor="let serie of series">
                    <div class="profile-card-4 text-center"><a (click)="verSerie(serie.id)"><img src="http://localhost:8082/file/{{serie.id_file}}"
                            class="img img-responsive"></a>
                        <div class="profile-content">
                            <div class="profile-description">
                                <hr><h3>{{serie.nombre | uppercase }}</h3><hr>
                                {{showMore ? serie.sinopsis_serie : serie.sinopsis_serie | slice:0:300}}<span *ngIf="!showMore">... </span>
                                <a href="javascript:;" *ngIf="!showMore" (click)="showMore=true">Leer más</a>
                                <a href="javascript:;" *ngIf="showMore" (click)="showMore=false">Leer menos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
