<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="form" [formGroup]="formularioUsuario" (ngSubmit)="guardar()">
                <h2>REGISTRAR USUARIO</h2>
                <hr><br>
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input formControlName="nombre" name="nombre" type="text" class="form-controls" required>
                    <div class="alert" *ngIf="formularioUsuario.get('nombre').invalid">
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('nombre').hasError('required') && formularioUsuario.get('nombre').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('nombre').hasError('minlength') && formularioUsuario.get('nombre').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('nombre').hasError('maxlength') && formularioUsuario.get('nombre').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="apellido1">Primer apellido: </label>
                    <input formControlName="apellido1" name="apellido1" type="text" class="form-controls" required>
                    <div class="alert" *ngIf="formularioUsuario.get('apellido1').invalid">
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('apellido1').hasError('required') && formularioUsuario.get('apellido2').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('apellido2').hasError('minlength') && formularioUsuario.get('apellido2').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('apellido2').hasError('maxlength') && formularioUsuario.get('apellido2').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="apellido2">Segundo apellido: </label>
                    <input formControlName="apellido2" name="apellido2" type="text" class="form-controls" required>
                    <div class="alert" *ngIf="formularioUsuario.get('apellido2').invalid">
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('apellido2').hasError('required') && formularioUsuario.get('apellido2').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('apellido2').hasError('minlength') && formularioUsuario.get('apellido2').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('apellido2').hasError('maxlength') && formularioUsuario.get('apellido2').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input formControlName="email" name="email" type="email" class="form-controls" required>
                    <div class="alert" *ngIf="formularioUsuario.get('email').invalid">
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('email').hasError('required') && formularioUsuario.get('email').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('email').hasError('minlength') && formularioUsuario.get('email').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('email').hasError('maxlength') && formularioUsuario.get('email').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="login">Nombre de usuario: </label>
                    <input formControlName="login" name="login" type="text" class="form-controls" required>
                    <div class="alert" *ngIf="formularioUsuario.get('login').invalid">
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('login').hasError('required') && formularioUsuario.get('login').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('login').hasError('minlength') && formularioUsuario.get('login').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('login').hasError('maxlength') && formularioUsuario.get('login').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña: </label>
                    <input formControlName="password" name="password" type="password" class="form-controls" required>
                    <div class="alert" *ngIf="formularioUsuario.get('password').invalid">
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('password').hasError('required') && formularioUsuario.get('password').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('password').hasError('minlength') && formularioUsuario.get('password').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom" *ngIf="formularioUsuario.get('password').hasError('maxlength') && formularioUsuario.get('password').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div formGroupName="tipousuario">
                        <div class="form-group">
                            <label for="tipousuario">Tipo de usuario: </label>
                            <select formControlName="id" class="form-control" name="id">
                                <option *ngFor="let tipousuario of tipousuarios" [value]="tipousuario.id">{{tipousuario.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="alert" *ngIf="formularioUsuario.get('tipousuario.id').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formularioUsuario.get('tipousuario.id').hasError('required') && formularioUsuario.get('tipousuario.id').touched">
                            Este campo debe ser rellenado
                        </div>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">Guardar</button>
                <button class="btn btn-success" (click)="atras()">Atrás</button>
            </form>
        </div>
    </div>
</div>