<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <form class="form" [formGroup]="formulario" (ngSubmit)="guardar()">
                <h2>AGREGAR LISTA</h2>
                <hr><br>
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input formControlName="nombre" name="nombre" type="text" class="form-controls" required>
                    <div class="alert" *ngIf="formulario.get('nombre').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('nombre').hasError('required') && formulario.get('nombre').touched">
                            Este campo debe ser rellenado
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('nombre').hasError('minlength') && formulario.get('nombre').touched">
                            Este campo debe tener más de 5 caracteres
                        </div>
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('nombre').hasError('maxlength') && formulario.get('nombre').touched">
                            Este campo debe tener menos de 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div formGroupName="usuario">
                        <div class="form-group">
                            <label for="usuario">Usuario: </label>
                            <select formControlName="id" class="form-control" name="id">
                                <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.login}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="alert" *ngIf="formulario.get('usuario.id').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('usuario.id').hasError('required') && formulario.get('usuario.id').touched">
                            Este campo debe ser rellenado
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" (click)="atras()">Atrás</button>
                </div>
            </form>
        </div>
    </div>
</div>