<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="form" action="">
                <h2>AGREGAR GÉNERO</h2><hr><br>
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input [(ngModel)]="genero.nombre" name="nombre" type="text" class="form-controls">
                </div>
                <button class="btn btn-success" (click)="guardarGenero()">Guardar</button>
            </form>
        </div>
    </div>
</div>

