<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-8">
            <h1 class="text-center">INFORMES</h1>
            <table class="table table-light table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th>Nº</th>
                        <th>INFORME</th>
                        <th>IMPRIMIR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">01</td>
                        <td class="text-center">Series registradas</td>
                        <td class="text-center"><button (click)="informe01()" class="btn btn-success text-center"><span class="material-icons align-middle">print</span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>