<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-light table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>SERIES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{genero.id}}</td>
                        <td class="text-center">{{genero.nombre}}</td>
                        <td class="text-center">{{genero.series}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="botonera">
                <button class="btn">
                    <span class="material-icons" (click)="editarGenero(genero.id)" style="cursor: pointer; vertical-align: middle;">mode_edit</span>
                </button>
                <button class="btn">
                    <span class="material-icons" (click)="eliminarGenero(genero.id)" style="vertical-align: middle;">delete</span>
                </button>
                <button class="btn">
                    <span class="material-icons" (click)="atras()" style="vertical-align: middle;">arrow_back</span>
                </button>
            </div>
        </div>
    </div>
</div>