<nav class="navbar navbar-expand-lg navbar-inverse navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <ul class="navbar-nav navbar-left">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/beetvfinal.png" height="35" class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-users"></i> Usuarios</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistUsuario()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Usuarios</a></li>
                        <li><a class="dropdown-item" (click)="addUsuario()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Usuario</a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-address-card"></i> Tipousuario</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistTipousuario()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Tipousuario</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-book-open"></i> Géneros</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistGenero()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Géneros</a></li>
                        <li><a class="dropdown-item" (click)="addGenero()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Género</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-caret-square-right"></i> Series</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistSerie()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Series</a>
                        </li>
                        <li><a class="dropdown-item" (click)="addSerie()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Serie</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-film"></i> Temporadas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistTemporada()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Temporadas</a></li>
                        <li><a class="dropdown-item" (click)="addTemporada()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Temporada</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="far fa-folder"></i> Capítulos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistCapitulo()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Capítulos</a></li>
                        <li><a class="dropdown-item" (click)="addCapitulo()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Capítulo</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="far fa-check-circle"></i> Vistos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistCapitulovistos()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Capítulosvistos</a></li>
                        <li><a class="dropdown-item" (click)="addCapitulovistos()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Capítulosvistos</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-list"></i> Listas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistLista()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Listas</a>
                        </li>
                        <li><a class="dropdown-item" (click)="addLista()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Listas</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="far fa-folder-open"></i> Contenidolista</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistContenidolista()" style="cursor: pointer"><i class="fas fa-list-ol"></i> Lista de Contenidolista</a>
                        </li>
                        <li><a class="dropdown-item" (click)="addContenidolista()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Capítulos</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="message==1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-star"></i> Puntuaciones</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="plistPuntuacionserie()" style="cursor: pointer">Lista de Puntuaciónserie</a>
                        </li>
                        <li><a class="dropdown-item" (click)="addPuntuacionserie()" style="cursor: pointer"><i class="fas fa-plus"></i> Agregar Puntuaciónserie</a></li>
                    </ul>
                </li>


                <li class="nav-item" *ngIf="message==1">
                    <a class="nav-link" [routerLink]="['informes']" routerLinkActive="active"><i class="fas fa-file-download"></i> Informes</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item" *ngIf="message==null || message==2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar serie..." [(ngModel)]="nombre" [(ngModel)]="busquedaInput">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="buscarSerie(nombre)"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </li>

                <li class="nav-item" *ngIf="message!=null && messageUsu != null">
                    <a class="nav-link" (click)="perfilUsuario()"><i class="fas fa-user-cog"></i> {{messageUsu}}</a>
                </li>
                <li class="nav-item" *ngIf="message==null">
                    <a class="nav-link" [routerLink]="['login']" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item"  *ngIf="message!=null">
                    <a class="nav-link" [routerLink]="['logout']" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
</nav>