<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <h1 class="text-center">VISTA DE TEMPORADA</h1>
            <table class="table table-light table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>SERIE</th>
                        <th>TEMPORADA</th>
                        <th>FECHA INICIO</th>
                        <th>FECHA FIN</th>
                        <th>CAPÍTULOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{temporada.id}}</td>
                        <td class="text-center">{{temporada.serie.nombre}}</td>
                        <td class="text-center">{{temporada.descripcion}}</td>
                        <td class="text-center">{{temporada.fecha_inicio | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{temporada.fecha_fin | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{temporada.capitulos}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="botonera">
                <button class="btn">
                    <span class="material-icons" (click)="editar(temporada.id)" style="cursor: pointer; vertical-align: middle;">mode_edit</span>
                </button>
                <button class="btn">
                    <span class="material-icons" (click)="eliminar(temporada.id)" style="vertical-align: middle;">delete</span>
                </button>
                <button class="btn">
                    <span class="material-icons" (click)="atras()" style="vertical-align: middle;">arrow_back</span>
                </button>
            </div>
        </div>
    </div>
</div>