<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <form class="form" [formGroup]="formulario" (ngSubmit)="guardar()">
                <h2>AGREGAR CAPITULOSVISTOS</h2>
                <hr><br>
                <div class="form-group">
                    <div formGroupName="usuario">
                        <div class="form-group">
                            <label for="usuario">Usuario: </label>
                            <select formControlName="id" class="form-control" name="id">
                                <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.login}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="alert" *ngIf="formulario.get('usuario.id').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('usuario.id').hasError('required') && formulario.get('usuario.id').touched">
                            Este campo debe ser rellenado
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div formGroupName="capitulo">
                        <div class="form-group">
                            <label for="capitulo">Capítulo: </label>
                            <select formControlName="id" class="form-control" name="id">
                                <option *ngFor="let capitulo of capitulos" [value]="capitulo.id">{{capitulo.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="alert" *ngIf="formulario.get('capitulo.id').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('capitulo.id').hasError('required') && formulario.get('capitulo.id').touched">
                            Este campo debe ser rellenado
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="visto">Visto: </label>
                    <input formControlName="visto" type="checkbox" name="visto" [value]="capitulosvistos.visto" class="form-controls">
                    <div class="alert" *ngIf="formulario.get('visto').invalid">
                        <div class="alert-danger alert-custom"
                            *ngIf="formulario.get('visto').hasError('required') && formulario.get('visto').touched">
                            Este campo debe ser rellenado
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" (click)="atras()">Atrás</button>
                </div>
            </form>
        </div>
    </div>
</div>