<div class="movie-card">
  
    <div class="container">
      
      <img src="http://localhost:8082/file/{{imagen}}" alt="cover" class="cover" />
          
      <div class="hero">
              
        <div class="details">
        
          <div class="title1">{{serie.nombre | titlecase}}</div>   
          
          <span class="likes">{{nota | number:'1.1-1'}}</span>
          
        </div>
        
      </div>
      
      <div class="description">
        
        <div class="column1">
          <span class="tag">{{genero}}</span>
        </div>
        
        <div class="column2">
          
          <p>{{serie.sinopsis_serie}} </p>
          <p><strong>Idioma</strong>: {{serie.idioma}} </p>
          <p><strong>Duración</strong>: {{serie.duracion_media}} min.</p>
          <p><strong>Fecha de inicio</strong>: {{serie.fecha_inicio | date:'dd/MM/yyyy'}} </p>
                   
          <div class="avatars">
            <button class="btn">
                <span class="material-icons" (click)="editarSerie(serie.id)" style="cursor: pointer; vertical-align: middle;">mode_edit</span>
            </button>
            <button class="btn">
                <span class="material-icons" (click)="eliminarSerie(serie.id)" style="vertical-align: middle;">delete</span>
            </button>
            <button class="btn">
                <span class="material-icons" (click)="atras()" style="vertical-align: middle;">arrow_back</span>
            </button>           
          </div>
          
        </div> 
      </div>      
    </div>
  </div> 
