<div class="movie-card">

  <div class="container">

    <img src="http://localhost:8082/file/{{imagen}}" alt="cover" class="cover" />

    <div class="hero">

      <div class="details">

        <div class="title1">{{serie.nombre | titlecase}}</div>
        <br>

        <span class="cont">
          <div class="stars">
            <form [formGroup]="formulario" (ngSubmit)="puntuar()">
              <span class="cont">
                <div class="stars">
                  <button type="submit">
                    <ngx-star-rating [(ngModel)]="puntuacion" formControlName="puntuacion" [id]="'puntuacion'" [disabled]="usuarioSesion.id == null">
                    </ngx-star-rating>
                  </button>
                  <span id="puntos">{{nota |
                    number:'1.1-1'}}</span>
                </div>
              </span>
              <!--  <ngx-star-rating [(ngModel)]="puntuacion" formControlName="puntuacion" [id]="'puntuacion'" ></ngx-star-rating>
               <span id="puntos">{{nota |number:'1.1-1'}}</span>-->
              <div class="form-group" hidden>
                <div formGroupName="usuario">
                  <input [(ngModel)]="usuarioSesion.id" formControlName="id" type="text" class="form-control">
                </div>
              </div>

              <div class="form-group" hidden>
                <div formGroupName="serie">
                  <input [(ngModel)]="serie.id" formControlName="id" type="text" class="form-control">
                </div>
              </div>
              <!--               <div class="form-group" hidden>
                <div formGroupName="serie">
                  <div class="form-group">
                    <label for="serie">Usuario: </label>
                    <input type="text" formControlName="id" class="form-control" name="id" [ngModel]="serie.id">
                  </div>
                </div>
              </div> -->
              <!--               <span class="cont">
                <div class="stars">
                  <button type="submit"><ngx-star-rating [(ngModel)]="puntuacion" formControlName="puntuacion" [id]="'puntuacion'" ></ngx-star-rating></button>
                </div>
              </span> -->
            </form>
          </div>
        </span>
      </div>

    </div>

    <div class="description">

      <div class="column1">
        <span class="tag">{{genero}}</span><br><br>

        <select class="select-dropdown" name="selectTemporada" [(ngModel)]="tempSeleccionada"
          (change)="temporadaSelecID()" >
          <option disabled selected [value]="0">Seleccionar temporada...</option>
          <option [value]="temp.id" *ngFor="let temp of temps">{{temp.descripcion}}</option>
        </select>

        <!--         <div class="avatars">
          <button class="btn">
            <span class="material-icons" (click)="editarSerie(serie.id)"
              style="cursor: pointer; vertical-align: middle;">mode_edit</span>
          </button>
          <button class="btn">
            <span class="material-icons" (click)="eliminarSerie(serie.id)" style="vertical-align: middle;">delete</span>
          </button>
          <button class="btn">
            <span class="material-icons" (click)="atras()" style="vertical-align: middle;">arrow_back</span>
          </button>
        </div> -->
      </div>

      <div class="column2">

        <p>{{showMore ? serie.sinopsis_serie : serie.sinopsis_serie | slice:0:200}}<span *ngIf="!showMore">... </span>
          <a href="javascript:;" *ngIf="!showMore" (click)="showMore=true">Leer más</a>
          <a href="javascript:;" *ngIf="showMore" (click)="showMore=false">Leer menos</a>
        </p>

        <p><strong>Idioma</strong>: {{serie.idioma}} </p>
        <p><strong>Duración</strong>: {{serie.duracion_media}} min.</p>
        <p><strong>Fecha de inicio</strong>: {{serie.fecha_inicio | date:'dd/MM/yyyy'}} </p>
      </div>
    </div>
    <br><br><br>

    <div class="borderbox box1-6">
      <div class="authorbox">
        <div class="boxflex" *ngFor="let cap of caps, index as idC">
          <div class="borderbox  box1-6 box1-6">
            <br>
            <h4 class="h4titulo"><strong>Capítulo {{idC+1}} - </strong>{{cap.nombre}}</h4>

            <p class="capText">{{cap.fecha_emision | date: 'dd/MM/yyyy'}} - {{cap.duracion}} min.</p>
            <p class="capText">{{cap.sinopsis_capitulo}}</p>
            <hr>
          </div>
          <div class="borderbox box1-3 box1-3" >
            <button title="Capítulo no visto" (click)="booleanVisto=checkearVisto(usuarioSesion.id, cap.id)">
              <div *ngIf="booleanVisto">
                <i class="fas fa-eye"></i>
              </div>
              <div *ngIf="!booleanVisto">
                <i class="fas fa-eye-slash"></i>
              </div>
             </button><!--BOTON VISTO O NO-->
         </div>
        </div>
      </div>
    </div>

  </div>
</div>